.main-container{
    /* display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 50%;
    justify-items: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}

.summary-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.results{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.results h1{
    font-size: 1.5rem;
    font-weight: 700;
}

button{
    cursor: pointer;
    padding: 15px 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: var(--dark-gray-blue);
    color: var(--white);
}

button:hover{
    background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
}

.category-container{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;

}
.category{
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.hundred{
    color: gray;
}

.icon-container{
    display: flex;
    align-items: center;
    gap: 10px;
}